# Configure settings and rename this file to ".env"

# Django site-key
SECRET_KEY=<key_value>

# Enable debug
DEBUG=<True|False>

# Default database connection
DB_HOST=<hostname>
DB_NAME=<database_name>
DB_USER=<user_name>
DB_PASSWORD=<password>
