{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h4>Cambiar contrase&#241;a</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class ="btn btn-primary">Cambiar contrase&#241;a</button>
    </form>
  {% else %}
    <h4>Enlace invalido</h4>
    <p>
    	El enlace para cambiar la contrase&#241;a era invalido, posiblamente porque ya ha sido utilizado.
    	Por favor, solicitar el cambio de contrase&#241;a de nuevo.
    </p>
  {% endif %}
{% endblock %}