{% extends 'base.html' %}

{% block title %}Cambiar contrase&#241;a{% endblock %}

{% block content %}
  {% if validlink %}
    <legend>Cambiar contrase&#241;a</legend>
    <form method="post">
      {% csrf_token %}
	  {% include 'bs4_form.html' with form=form %}
      <button type="submit" class ="btn btn-primary">Cambiar contrase&#241;a</button>
    </form>
  {% else %}
    <legend>Enlace invalido</legend>
    <p>
    	El enlace para cambiar la contrase&#241;a era invalido, posiblamente porque ya ha sido utilizado.
    	Por favor, solicitar el cambio de contrase&#241;a de nuevo.
    </p>
  {% endif %}
{% endblock %}