<span class="text-nowrap">
	<strong>Opciones de premio</strong>
</span><br>
<i>
	{% for reward in goal.rewardinfo.currentrewards %}
		{{ reward.rewarddisplayname }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
	
	<span class="text-danger">
		<small><strong>
			{% if goal.rewardselectedby == "TR" %}
				<br>* premios seleccionados por docente
			{% endif %}
			{% if goal.maxnumrewards %} 
				<br>* max numero de ganadores = {{ goal.maxnumrewards }}
			{% endif %}
		</strong></small>	
	</span>
</i>