.navbar-nav li a {
 line-height: 30px;
}

.faicon {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}	

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}