{% load static %}

	{% for party in record.partyuserinfo.currentparties %}
		<div class="text-nowrap">
			<span>
				{% if party.groupinfo %}
					{{ party.groupinfo.groupname }} <strong>({{ party.groupinfo.leaderfirstname|title }})</strong>
				{% else %}
					{{ party.firstname|title }}
				{% endif %}
				
			</span>
			{% if party.partyapprovalts %}
				<span style="vertical-align:middle">
					{% include "wakemeup/contract/include/goalevaluation.html" %}
				</span>
			{% endif %}
			<br>
		</div>
	{% endfor %}