<div class="text-nowrap">
	<!-- Hide buttons for global rewards -->
	{% if not record.rewardid or not record.globalflag or user.is_superuser %}
		<form action="{% url 'wakemeup:edit_object' objecttype=objecttype objectid=value %}" method="post" style="display:inline-block" >
		    {% csrf_token %}
			<input class="btn btn-sm btn-primary" name="submit_other" type="submit" value="Editar" />
		</form>
		<!-- Hide "Delete" link in "Edit class" view -->
		{% if not record.classid or user.is_superuser %}
			<form action="{% url 'wakemeup:delete_object' objecttype=objecttype objectid=value %}" method="post" style="display:inline-block" >
			    {% csrf_token %}
				<input class="btn btn-sm btn-warning" name="delete" type="submit" value="Borrar" onclick="return confirm('\u00BFEst\u00E1 seguro que desee eliminar este objeto?');"/>
			</form>
		{% endif %}
	{% endif %}
</div>