{% extends "base.html" %}
{% load static %}
{% load datatransform %}

{% block headimport %}
<style>
	.responsive-iframe-container {
		position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
	}
	 
	.responsive-iframe-container iframe {
		position: absolute; top:0; left: 0; width: 100%; height: 100%;
	}
	
</style>
{% endblock %}

<!-- Set page title -->
{% block title %}Calendario{% endblock %}

{% block content %}
	<div class="container"><br>
		{% if program.calendarid %}
			<div class="row">
				<div class="col">
					<div align="center"><h2>Calendario para {{program.schoolyear|stringformat:"i"}}</h2></div><br>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<div style="font-size:1.4vw"><b>Fechas tope</b></div>
					<div style="font-size:1.2vw;white-space: nowrap;" nowrap>
					{% if events %}
						{% for event in events %}
							<b><i>
							{% if event.end.date %}
								{{event.end.date|parse_date|date:"d-m-Y"}}
							{% else %}
								{{event.end.dateTime|parse_date|date:"d-m-Y"}}
							{% endif %}
							</b></i>
							<a href="{{event.htmlLink}}" target="_blank">{{event.summary|truncatechars:40}}</a><br>
						{% endfor %}
					{% else %}
						No hay registros.
					{% endif %}
					</div>
				</div>
				<div class="col-7">
				    <div class="responsive-iframe-container">
						<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FBogota&amp;src={{ program.calendarid }}&amp;color=%23B39DDB&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;hl=es_419"
								style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
						</iframe>
				    </div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col" align="center">No hay calendario.</div>
			</div>
		{% endif %}
    </div>
{% endblock %}