{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block import %}

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />	
	
{% endblock %}

{% block title %}Editar contrato{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 class="display-4">
			General
		</h1>
		<br>
		<form method="post" id="contractForm" novalidate 
			data-teachers-url="{% url 'wakemeup:ajax_load_teachers' %}" 
			data-classes-url="{% url 'wakemeup:ajax_load_classes' %}" 
			data-students-url="{% url 'wakemeup:ajax_load_students' %}" 
		>
			{% crispy form %}
		</form>
	</div>

	<script>
	
		// Initialize variables
		var numParticipants = undefined;
		var currentBudget = parseInt($("#id_initialbudget").val(),10); // Lookup initial values from hidden form fields
		var maxRewardValue = parseInt($("#id_maxrewardvalue").val(),10);
		
		function get_budget_HTML(){
	
			var currentBudgetHTML = undefined
			if(currentBudget < 0) {
				currentBudgetHTML = '<span class="bg-warning">Presupuesto: $' + String(currentBudget) + '</span>'
			} else {
				currentBudgetHTML = 'Presupuesto: $' + currentBudget
			}
			
			return currentBudgetHTML;
		}
		
		$("#id_partyuserinfo").change(function () {
			var result = get_num_participants();
	
			if(numParticipants === undefined || numParticipants != result) {
				var disabledFlag = undefined;
				var delta = (numParticipants - result);
				currentBudget = currentBudget + (delta * maxRewardValue);
				
	            $("#id_availablebudget").html(get_budget_HTML());
				numParticipants = result; // Store new value
				
				if(currentBudget < 0) {
					disabledFlag = true;
				} else {
					disabledFlag = false;
				}
	
				// Update buttons
				document.getElementById("submit_cancel").disabled = disabledFlag;
				document.getElementById("submit_next").disabled = disabledFlag;
				document.getElementById("submit_previous").disabled = disabledFlag;
			}		
		  });
		
		function get_num_participants() {
			var numPart = $('#id_partyuserinfo option:selected').length;
			return numPart;
		}
	
		// http://www.daterangepicker.com/#examples
		// Date range function

		$(function() {
  		  moment.locale('es');
		  $('.daterangeinputfieldempty').daterangepicker({
			  autoApply: true,
			  autoUpdateInput: false,
			  minYear: 2018,
			  maxYear: parseInt(moment().format('YYYY'),10),
		      locale: {
		          "applyLabel": "Aplicar",
		          "cancelLabel": "Cancelar",
		    	  }
		  });
		
		  // Set initial values to empty
		  $('.daterangeinputfieldempty').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
		  });
		
		  $('.daterangeinputfieldempty').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		  });
		});
		
		// Single date function
		$(function() {
		  $('.dateinputfield').daterangepicker({
			autoUpdateInput: false,
		    singleDatePicker: true,
		    minYear: 2018,
		    maxYear: parseInt(moment().format('YYYY'),10)
		  });
		
		  // Set initial values to empty
		  $('.dateinputfield').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('DD/MM/YYYY'));
		  });
		
		  $('.dateinputfield').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		  });
		});
		
		// Dependent drop-downs (Teacher / Class / Student)
	    $("#id_teacheruserid").change(function () {
		    update_classes($(this))
	      });

	    $("#id_classid").change(function () {
		    update_students($(this))
	      });

	    function update_teachers() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-teachers-url");
	        var contractId = $("#id_contractid").val();
	        
	        $.ajax({                       			// initialize AJAX request
	          url: url,                    			// set the url of the request
	          data: {
	            'contractid': contractId
	          },
	          success: function (data) {   			// "data" is the return of the "get teachers" view call
	            $("#id_teacheruserid").html(data);  // replace the contents of the "teacheruserid" field with the teacher list
	            update_classes();
	          }
	        })
	    };

	    function update_classes() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-classes-url");
	        var teacherUserId = $("#id_teacheruserid").val();
	        var contractId = $("#id_contractid").val();

	        $.ajax({                       		// initialize an AJAX request
	          url: url,                    		// set the url of the request
	          data: {
	            'teacheruserid': teacherUserId, // add the teacheruserid to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   		// "data" is the return of the "get classes" view call
	            $("#id_classid").html(data);	// replace the contents of the "classid" field with the class list
		        update_students();
	          }
	        })
	    };

	    function update_students() {
	    	// Get values from the form
	    	var url = $("#contractForm").attr("data-students-url");
	        var classId = $("#id_classid").val();
	        var contractId = $("#id_contractid").val();
	        
	        $.ajax({                       				// initialize an AJAX request
	          url: url,                    				// set the url of the request
	          data: {
	            'classid': classId,						// add variables to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   				// "data" is the return of the "get students" view call
	            $("#id_partyuserinfo").html(data);  	// replace the contents of the "partyuserinfo" field with the data
	            $("#id_availablebudget").html(get_budget_HTML());
		        numParticipants = get_num_participants();
	          }
	        })
	    };

		$(document).ready(function(){
			update_teachers();
		});
    	
    	
	</script>
{% endblock %}