{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}Enviar contrato{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 class="display-4">
			Finalizar
		</h1>
	
		<legend><u>General</u></legend>
		<div class="row">
			<div class="col col-sm-3">ID</div>
			<div class="col col-sm-9">{{ contract.contractid }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Curso</div>
			<div class="col col-sm-9">{{ classinfo.classdisplayname }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Plazo</div>
			<div class="col col-sm-9">{{ contract.contractvalidperiod_disp }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Fecha tope para revisar</div>
			<div class="col col-sm-9">{{ contract.revisiondeadlinets|date:'d/m/Y' }}</div>
		</div>
		<br>
		<legend><u>Participantes</u></legend>
		{% for party in contract.partyuserinfo.currentparties %}

		<div class="row">
			<div class="col col-sm-3">{{ party.firstname }} {{ party.lastname }}</div>
		</div>
		{% endfor %}
		<br>

		<legend><u>Metas</u></legend>
		{% for goal in contract.goalinfo.currentgoals %}
			<strong>Opci&#243;n 
			{% if goal.difficultylevel == "E" %} Fac&#237;l
			{% elif goal.difficultylevel == "M" %} Media
			{% elif goal.difficultylevel == "D" %} Dif&#237;cil
			{% endif %}</strong><br>
			<i>{{ goal.goaldescription }}</i><br>
			<strong>Opciones de premio: </strong>
			<i>{% for reward in goal.rewardinfo.currentrewards %}
				{{ reward.rewarddisplayname }}{% if not forloop.last %}, {% endif %}
			{% endfor %}</i>
			<br><br>
		{% endfor %}

		<legend><u>Presupuesto</u></legend>
		<div class="row">
			<div class="col col-sm-3">Costo</div>
			<div class="col col-sm-9">${{ contractinfo.contractvalue|intcomma}}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Saldo</div>
			<div class="col col-sm-9">${{ teacherbudgetinfo.availablebudget|intcomma}}</div>
		</div><br>
		{% crispy form %}
	</div>
{% endblock %}
