{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block headimport %}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />	
{% endblock %}

{% block title %}Editar contrato{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 class="display-4">
			General
		</h1>
		<br>
		<form method="post" id="contractForm" novalidate 
			data-teachers-url="{% url 'wakemeup:ajax_load_teachers' %}" 
			data-classes-url="{% url 'wakemeup:ajax_load_classes' %}" 
			data-students-url="{% url 'wakemeup:ajax_load_students' %}" 
			data-contractinfo-url="{% url 'wakemeup:ajax_get_contract_info' %}" 
		>
			{% crispy form %}
		</form>
	</div>
{% endblock %}

{% block bodyimport %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="{% static 'wakemeup/js/daterangepicker.js' %}"></script>
	<script src="{% static 'wakemeup/js/contract/updatebudgetdisplay.js' %}"></script>
	<script>
	    var contractId = $("#id_contractid").val();

		function update_budget() {
			var url = $("#contractForm").attr("data-contractinfo-url");
		    
			$.ajax({
				url: url,
				data: {
					'infotype': 'hypotheticalcontractvalue',
					'contractid': contractId,
					'numparticipants': get_num_participants()
				},
				success: function (data) {
					totalBudget = data
					update_budget_display(data)
				}
			})
		}	

		// BUDGET: Participant drop-down
		$("#id_partyuserinfo").change(function () {
			update_budget()
		});
		
		// BUDGET: Get number of participants
		function get_num_participants() {
			var numPart = $('#id_partyuserinfo option:selected').length;
			return numPart;
		}
	
		// DROP-DOWNS: Dependent drop-downs (Teacher / Class / Student)
	    $("#id_teacheruserid").change(function () {
		    update_classes($(this))
	      });

	    $("#id_classid").change(function () {
		    update_students($(this))
	      });

	    // DROP-DOWNS: Update Teachers
	    function update_teachers() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-teachers-url");
	        
	        $.ajax({                       			// initialize AJAX request
	          url: url,                    			// set the url of the request
	          data: {
	            'contractid': contractId
	          },
	          success: function (data) {   			// "data" is the return of the "get teachers" view call
	            $("#id_teacheruserid").html(data);  // replace the contents of the "teacheruserid" field with the teacher list
	            update_classes();
	          }
	        })
	    };

		// DROP-DOWNS: Update classes
	    function update_classes() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-classes-url");
	        var teacherUserId = $("#id_teacheruserid").val();

	        $.ajax({                       		// initialize an AJAX request
	          url: url,                    		// set the url of the request
	          data: {
	            'teacheruserid': teacherUserId, // add the teacheruserid to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   		// "data" is the return of the "get classes" view call
	            $("#id_classid").html(data);	// replace the contents of the "classid" field with the class list
		        update_students();
	          }
	        })
	    };

    	// DROP-DOWNS: Update students
	    function update_students() {
	    	// Get values from the form
	    	var url = $("#contractForm").attr("data-students-url");
	        var classId = $("#id_classid").val();
	        
	        $.ajax({                       				// initialize an AJAX request
	          url: url,                    				// set the url of the request
	          data: {
	            'classid': classId,						// add variables to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   				// "data" is the return of the "get students" view call
	            $("#id_partyuserinfo").html(data);  	// replace the contents of the "partyuserinfo" field with the data
				update_budget();
	          }
	        })
	    };

	    // DROP-DOWNS: Initialize
		$(document).ready(function(){
			update_teachers();
		});
	</script>
{% endblock %}