{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

<!-- Set page title -->
{% block title %}Contratos{% endblock %}

{% block content %}
	<legend>
		Contratos
		{% if request.user.is_admin or request.user.usertype == "TR" %}
		<div class="float-right">
			<a href="{% url 'wakemeup:create_contract' contractid='new' %}">
				<i class="fas fa-plus-circle" style="font-size:1.125em;vertical-align:middle"></i>
			</a>
		</div>
		{% endif %}
	</legend>
	
	{% render_table contracts %}

{% endblock %}	

{% block bodyimport %}
	<script src="{% static 'wakemeup/js/contract/contractmanagebuttons.js' %}"></script>
	<script src="{% static 'wakemeup/js/contract/evaluatecontractpartymodal.js' %}"></script>
	<script>

		// MODAL - Show
	    $('[name=submit_partyevaluation]').click(function() {
			var contractid = $(this.form).find('input[name=contractid]').val()
			var partyuserid = $(this.form).find('input[name=partyuserid]').val()
	
			// Populate and show modal
	        $("#mymodaldiv").html(""); // Clear modal div of any previous contents
			update_evaluatecontractpartyform("new", contractid, partyuserid) // Update modal with new form
			$('#evaluateContractPartyModal').modal('show')
			return false
	    });
	
		// Clickable rows
		$(document).ready(function() {
		    $(".clickable-row").click(function() {
		        window.location = $(this).data("href");
		    });
		});	
	</script>
{% endblock %}