{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

<!-- Set page title -->
{% block title %}Contratos{% endblock %}

{% block content %}
	<h4>
		{{ "contrato" | title }}s
		{% if request.user.is_admin or request.user.usertype == "TR" %}
		<div class="float-right">
			<a href="{% url 'wakemeup:create_contract' contractid='new' %}">
				<img src="{% static 'img/add-button.png' %}">
			</a>
		</div>
		{% endif %}
	</h4>
	
	{% render_table contracts %}
	
	<script>
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.location = $(this).data("href");
		    });
		});	
	</script>
{% endblock %}	