{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Admin - Cursos{% endblock %}

{% block content %}
	<div class="container-fluid">
		<br>
		<form method="POST" enctype="multipart/form-data" novalidate>
		    {% csrf_token %}
			{% crispy form %}
		</form>
	</div>
	
{% endblock %}

{% block bodyimport %}
	<script src="{% static 'wakemeup/js/editusergroup.js' %}"></script>
	
	<script>

		// MODAL - HIDE
		$('#editUserGroupModal').on('hidden.bs.modal', function (e) {
			document.getElementById("editUserGroupForm").reset();
		})	
	
		// MODAL - SUBMIT FORM
		$("#editUserGroupForm").submit(function(e) {
			update_usergroupform()
			return false // Ignore default submit behavior
		});

		$(document).ready(function(){
			// SHOW MODAL - EDIT
		    $('[name=submit_usergroup]').click(function() {
				var groupuserid = $(this.form).find('input[name=groupuserid]').val()
				var classid = $(this.form).find('input[name=classid]').val()
				
				// Populate and show modal
	            $("#mymodaldiv").html(""); // Clear modal div of any previous contents
				update_usergroupform("new", groupuserid, classid) // Update modal with new form
	        	$('#editUserGroupModal').modal("show");
		    });

			// SHOW MODAL - ADD NEW
		    $('#add_usergroup').click(function() {
				var classid = $("#classid").val();

				// Populate and show modal
	            $("#mymodaldiv").html(""); // Clear modal div of any previous contents
				update_usergroupform("new", classid) // Update modal with new form
	        	$('#editUserGroupModal').modal("show");
		    });
		});
	</script>
{% endblock %}