{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

<!-- Set page title -->
{% block title %}Admin{% endblock %}

{% block content %}
	<legend> {% if objecttype == "school" %}Colegios
		{% elif objecttype == "class" %}Cursos
		{% elif objecttype == "teacher" %}Docentes
		{% elif objecttype == "student" %}Estudiantes
		{% elif objecttype == "reward" %}Premios
		{% endif %}
		{% if objecttype not in 'teacher student' %}
			{% if objecttype == "class" and request.user.usertype != "TR" or objecttype == "reward" %}
				<div class="float-right">
					<a href="{% url 'wakemeup:edit_object' objecttype=objecttype objectid='new' %}">
						<i class="fas fa-plus-circle" style="font-size:1.125em;vertical-align:middle"></i>
					</a>
				</div>
			{% endif %}
		{% endif %}
	</legend>
	
	{% render_table objects %}
{% endblock %}