{% extends "base.html" %}

{% block title %}Politica de uso de datos{% endblock %}

{% block content %}<br>

<div class="container w-75">
	<div class="card text-center">
	  <div class="card-body">
	    <h5 class="card-title">
			{% if datausepolicyfileid %}
			<a href="{% url 'wakemeup:download_file_fromdb' fileid=datausepolicyfileid %}" onclick="document.getElementById('id_acceptflag').disabled = false;">Politica de uso de datos</a><br>
			{% else %}
				No existe el archivo.
			{% endif %}
    	</h5>
			<div class="container-fluid" align="center">
				{% if not user.datausepolicyacceptedts %}
					<form method="POST">
						{% csrf_token %}
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" name="acceptflag" id="id_acceptflag" onchange="document.getElementById('submit').disabled = !this.checked;" disabled>
						  <label class="form-check-label" for="id_acceptflag">
						    Yo acepto los terminos.
						  </label>
						</div><br>
					  <button type="submit" class="btn btn-primary" id="submit" disabled>Enviar</button>
					</form>
				{% else %}
					<small>Se acept&#243; el {{ user.datausepolicyacceptedts|date }}.</small>
				{% endif %}
			</div>
	
	  </div>
	</div>
</div>
{% endblock %}

