<!-- Base template -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta info -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Page title -->
        <title class="title">
            {% block title %}Wake Me Up{% endblock %}
        </title>    
    
        <!-- Import Bootstrap Core files (files read and attributes overidden in order) -->
        <!-- TO-DO: Update to support fallback CDN server -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- Page-specific imports -->
        {% block import %}{% endblock %}

        <!-- Workaround to allow styling of unknown HTML elements in IE browsers older than IE9 (must be after CSS imports -->
        <!-- TO-DO: Add this -->
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js' %}"></script>
        <![endif]-->

        <!-- Image to use for favorite/bookmark icon -->        
        <link rel="icon" href="{% static 'img/favicon.png' %}" />
    </head>

    {% block body %}
        <body>
            {% include "header.html" %}
            {% include "navbar.html" %}
            <main>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% include "footer.html" %}
        </body>
    {% endblock %}
</html>