{% load staticfiles %}
{% with url_name=request.resolver_match.url_name %}

<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

	<!-- LOGO -->
	<a class="navbar-brand" href="{% url 'wakemeup:index' %}" title="Inicio">
		<i class="fas fa-home faicon" style="color:grey"></i>
<!-- 		<img src="{% static 'img/logo.png' %}" height="27" style="display:inline-block"/> -->
	</a>
	
	<!-- NAVBAR TOGGLE ICON -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!--  COLLAPSIBLE ITEMS -->		
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav mr-auto">
			<!-- ABOUT -->
			<li class="nav-item dropdown">
				<a class="nav-link" href="{% url 'wakemeup:about' %}">Acerca de</a>
			</li>
			{% if user.is_authenticated %}
			
				<!-- CONTRACTS -->
				<li class="nav-item dropdown">				
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Contratos</a>
					<div class="dropdown-menu">
						{% if user.is_admin or user.usertype == "TR" %}
							<a class="dropdown-item {% if url_name == 'create_contract' %} active {% endif %}" href="{% url 'wakemeup:create_contract' contractid='new' %}">Crear contrato</a>
						{% endif %}
						<a class="dropdown-item {% if url_name == 'contract_list' %} active {% endif %}" href="{% url 'wakemeup:contract_list' %}">Mis contratos</a>
					</div>
				</li>
				{% if user.is_admin or user.usertype == "TR" %}
				
					<!-- ADMIN -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
						<div class="dropdown-menu">
							{% if user.is_admin %}
							<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='school' %}">Colegios</a>
							<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='class' %}">Cursos</a>
							<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='teacher' %}">Docentes</a>
							<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='student' %}">Estudiantes</a>
							{% endif %}
							<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='reward' %}">Premios</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item {% if url_name == 'add_user' %} active {% endif %}" href="{% url 'wakemeup:add_user' %}">Crear usuario</a>
						</div>
					</li>
				{% endif %}
			{% endif %}
		</ul>
		<ul class="nav navbar-nav">
			{% if user.is_authenticated %}
			
				<!-- REPUTATION -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'wakemeup:myaccount' %}#reputation" id="ReputationValueLink" title="Reputaci&#243;n">
						<h4 style="display:inline;vertical-align:middle">{{ user.reputationvalue }}</h4>
						{% if userinfo.reputationvaluedelta != 0 %}
							<span style="vertical-align:top; background-color:red;color:white" class="badge" id="ReputationValueDelta">
								+{{ userinfo.reputationvaluedelta }}
							</span>
						{% endif %}
					</a>
				</li>
				
				<!--  NOTIFICATIONS -->
				<li class="nav-item dropdown" id="NotificationInboxDropdown">
				
					<!-- Notifications - Inbox icon -->
					<a 
						class="btn nav-link float-left" 
						id="NotificationInboxIcon" 
						data-toggle="dropdown" 
						aria-haspopup="true" 
						aria-expanded="false"
						style="color:{% if userinfo.opennotificationsflag %}red{% endif %}" 
						title="Notificaciones"
					>
						<i class="fas fa-inbox faicon"></i>
					</a>

					<!--  Notifications - Drop-down menu -->
					<div 
						class="dropdown-menu scrollable-menu dropdown-menu-right" 
						aria-labelledby="dropdownMenuLink" 
						id="NotificationInboxItems"
					>
					</div>
				</li>		
				
				<!-- PROFILE -->			
				<li class="nav-item">
					<a class="nav-link" href="{% url 'wakemeup:myaccount' %}#profile" title="{{ user.username }}">
						{% if userinfo.profilepicturefile %}
							<img src="{% static 'img/avatar/'|add:userinfo.profilepicturefile %}" alt="Avatar" height="32px" width="32px" style="display:inline-block">
						{% else %}
	 						<i class="fas fa-user faicon"></i>
						{% endif %}
					</a>
				</li>
				
				<!-- LOGOUT -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Cerrar sesi&#243;n</a>
				</li>
			{% else %}
			
				<!-- LOGIN -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Iniciar sesi&#243;n</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endwith %}