{% load staticfiles %}
{% with url_name=request.resolver_match.url_name %}

	<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
		<a class="navbar-brand" href="{% url 'wakemeup:index' %}"><span class="fa fa-home"></span></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'wakemeup:index' %}">Inicio</a>
				</li>

				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Contratos</a>
						<div class="dropdown-menu">
							{% if user.is_admin or user.usertype == "TR" %}
								<a class="dropdown-item {% if url_name == 'create_contract' %} active {% endif %}" href="{% url 'wakemeup:create_contract' contractid='new' %}">Crear contrato</a>
							{% endif %}
							<a class="dropdown-item {% if url_name == 'contract_list' %} active {% endif %}" href="{% url 'wakemeup:contract_list' %}">Mis contratos</a>
						</div>
					</li>
					{% if user.is_admin or user.usertype == "TR" %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
							<div class="dropdown-menu">
								{% if user.is_admin %}
								<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='school' %}">Colegios</a>
								<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='class' %}">Cursos</a>
								<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='teacher' %}">Docentes</a>
								<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='student' %}">Estudiantes</a>
								{% endif %}
								<a class="dropdown-item" href="{% url 'wakemeup:admin_list' objecttype='reward' %}">Premios</a>
								{% if user.is_superuser %}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item {% if url_name == 'add_user' %} active {% endif %}" href="{% url 'wakemeup:add_user' %}">Crear usuario</a>
								{% endif %}
							</div>
						</li>
					{% endif %}
				{% endif %}
			</ul>
			<ul class="nav navbar-nav">
				{% if user.is_authenticated %}
<!-- 					<li class="nav-item">
						<a class="nav-link" href="#">
							<img src="{% static 'img/inbox.png' %}" title="notificaciones"></img>
						</a> -->
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<div title="reputaci&#243;n">
								<span class="badge badge-secondary">
									{{user.reputationvalue}} {% if userinfo.reputationvaluedelta != 0 %} ({{ userinfo.reputationvaluedelta }}) {% endif %}
								</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'myaccount' %} active {% endif %}" href="{% url 'wakemeup:myaccount' %}">
							<img src="{% static 'img/account_circle_grey.png' %}" title="{{ request.user }}"></img>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Cerrar sesi&#243;n</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Iniciar sesi&#243;n</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
{% endwith %}