{% extends "base.html" %}
{% load staticfiles %}

<!-- Set page title -->
{% block title %}Acerca de{% endblock %}

{% block content %}
	<br>
	<div class="container-fluid">
		<legend>Proyecto</legend>
		<div>
			Este proyecto dispondr&#225; de un sistema de incentivos para motivar a los estudiantes a desempe&#241;ar bien sus tareas en la clase de ingl&#233;s.  
			Estudiantes y docentes llegar&#225;n a un acuerdo sobre la estructura de los incentivos para lograr objetivos espec&#237;ficos de la clase, que 
			luego se formalizar&#225;n en un contrato.  Si los estudiantes logran sus objetivos, recibir&#225;n sus incentivos.
		</div><br>

		<legend>Metas</legend>
		<div>
			La meta principal es mejorar los niveles estudiantiles de motivaci&#243;n y desempe&#241;o.  Tambi&#233;n debe inculcar estos valores:<br><br>
			<ul>
				<li><strong>Respeto</strong> a las reglas del contrato</li>
				<li><strong>Puntualidad</strong> en adherir a las fechas tope del contrato</li>
				<li><strong>&#201;tica de trabajo</strong> para lograr los objetivos</li>
				<li><strong>Confianza</strong> en que ser&#225;n recompensados por sus esfuerzos</li>
			</ul>
		</div><br>

		<legend>Inspiraci&#243;n</legend>
		<div>
			Este proyecto fu&#233; inspirado por una canci&#243;n del grupo de m&#250;sica Avicii, llamada "The Nights."  La canci&#243;n aconseja explorar este mundo, 
			seguir tu coraz&#243;n, perseguir las cosas importantes para ti y no tomar por hecho esta vida.
		</div><br>
		
		<legend>Plataforma</legend>
		<div>
			Esta aplicaci&#243;n se ve mejor usando la &#250;ltima versi&#243;n de <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> con JavaScript activado.
		</div><br>
		
		<legend>Contacto</legend>
		<div>
			<a href="mailto:admin@duitamacolegioproject.org">admin@duitamacolegioproject.org</a><br>
			+57 304 542 6588
		</div>
    </div>
{% endblock %}